*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(238, 238, 238);
}

.main{
    font-size: 14px;
}

.page-content{
    background: #ffffff;
}

.el-main{
    padding: 15px;
}

.page-content .el-card__header{
    background: #f6f8f8;
}

.page-content .el-card{
    border-color:#dee5e7;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 200px;
    min-height: 400px;
}

.router-link-active{
    color:rgb(255, 208, 75) !important;
}

.el-menu-item a{
    display: inline-block;
    width:100%;
    color: #ffffff;
    text-decoration: none;
}

.text-warning{
    color: #e6a23c !important;
}

.text-primary{
    color: #409EFF !important;
}